html
{
    background-color:Silver;
    font:12px Verdana;
}

a
{
    color:Navy;
    text-decoration:none;
}

.content
{
    margin:auto;
    border:solid 1px black;
    width:800px;
    background-color:White;
}

.header
{
    border-bottom:solid 1px blue;
    padding:5px;
}

.breadcrumb
{
    border-bottom:solid 1px blue;
    padding:5px;
    background-color:#dedffc;
}

.leftColumn
{
    float:left;
    width:100px;
    padding:5px;
}

.middleColumn
{
    float:left;
    width:450px;
    border-left:solid 1px navy;
    padding:8px;
}

.rightColumn
{
    float:right;
    width:200px;
    border-left:solid 1px blue;
    border-bottom:solid 1px blue;
    padding:5px;
    background-color:#fefedc;
}

.footer
{
    clear:both;
    border-top:solid 1px navy;
    text-align:center;
    font-size:12px;
    padding:5px;
}

.topMenu
{
    float:right;
}

.loginLink
{
    float:right;
}

.topMenuItem
{
    padding:10px 3px;
    font-size:12px;
}

.leftMenuItem
{
    padding:7px 10px;
}

.tabs
{
    position:relative;
    top:1px;
    left:10px;
}
.tab
{
    border:solid 1px black;
    background-color:#eeeeee;
    padding:2px 10px;
}
.selectedTab
{
    background-color:white;
    border-bottom:solid 1px white;
}
.tabContents
{
    border:solid 1px black;
    padding:10px;
    background-color:white;
}

.grid th, .grid td
{
    padding:8px;
    border-bottom:solid 1px black;
}



.floatPanel
{
    display:none;
    position:absolute;
    top:100px;
    left:100px;
    padding:10px;
    border:solid 4px black;
    background-color:white;
}


.webWindow
{
    width:400px;
    border:Outset;
    background-color:white;
}
.webWindowBody
{
    padding:10px;
}
.webWindowTitleBar
{
    font:14px Verdana,Sans-Serif;
    padding-left:10px;
    background-color:Blue;
    color:white;
    cursor:move;
}
.webWindowTitleText
{
    float:left;
}
.webWindowClose
{
    background-color:Maroon;
    font-weight:bold;
    cursor:pointer;
}

/* FORMAT PRODUCT CATEGORIES */

.categoryList
{
    width:100%;
}

.categoryList td
{
    width:50%;
    padding:20px;
    vertical-align:top;
}

.categoryName
{
    font-size:16px;
    border-bottom:solid 1px black;
}

/* FORMAT PRODUCTS */


.productList
{
    width:100%;
}

.productList td
{
    width:50%;
    padding:20px;
    vertical-align:top;
}

.productName
{
    font-size:16px;
    border-bottom:solid 1px black;
}

.productImage
{
    width:100px;
    padding:5px;
    float:left;
}


.fullProductName
{
    font-size:18px;
    font-weight:bold;
}

/* FORMAT FORMS */
label
{
    font-weight:bold;
}

.instructions
{
    padding:3px;
    font-size:10px;
}

/* SHOPPING CART */
.cart
{
    width:100%;
    font-size:10px;
    border:solid 1px black;
}

.cartAlternating
{
    background-color:silver;
}

.cartFooter
{
    text-align:center;
    white-space:nowrap;
}
.cart th
{
    text-align:left;
    padding:5px;
}

.cart caption
{
    font-weight:bold;
}

.cartBig
{
    width:100%;
}

.cartBig td
{
    padding:5px;
}

.cartBig th
{
    text-align:left;
    padding:5px;
}

.cartTotalFooter
{
    border-top:solid 2px black;
}

/* FORM LAYOUT */

.leftForm
{
    float:left;
    width:140px;
    text-align:right;
    margin-right:20px;
    line-height:150%
}

.rightForm
{
    float:left;
    width:175px;
    line-height:150%   
}

.colForm
{
    float:left;
    width:45%;
}

/* AJAX Rotator */
.ajaxRotator
{
    font-size:12px;
    border:solid 1px black;
    padding:4px;
}

.ajaxRotator h1
{
    font-size:14px;
    margin-top:2px;
    margin-bottom:2px;
    
}


legend
{
    color:Navy;
}

.paddedList li
{
    padding:10px;
}

.scrollBox
{
    width:380px;
    overflow:auto;
}